
.input_label {
	font-size: var(--font-size-large);
	letter-spacing: 0.16rem;
}

/* SIGN IN FORM */

.sign-in,
.sign-up {
	max-width: 500px;
	width: 100%;
	display: none;
	flex-direction: column;
	justify-content: center;	
	flex: 1 0 auto;
	position: relative;
	margin: 3rem auto;
	padding: 0 var(--spacing-small);
}

.sign-in__form,
.sign-up__form {
	display: flex;
	flex-direction: column;
	gap: 1.8rem;
}

.sign-in__close,
.sign-up__close {
	position: absolute;
	top: 0;
	right: var(--spacing-small);
}

.sign-in__form-heading,
.sign-up__form-heading {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--spacing-small);	
	margin-top: 3rem;

}
.sign-in__form-heading {
	margin-top: 0rem;
	
}

.sign-up__fullname-container,
.sign-in__email-container,
.sign-in__password-container, 
.sign-up__email-container,
.sign-up__password-container {
	display: flex;
	flex-direction: column;	
}

.text-input {
	height: 2.5rem;
	padding: 0 0.5rem;
	background: #D9D9D9;
	
}

.sign-in__button,
.sign-up__button {
	height: 2.5rem;
	width: fit-content;
	margin: var(--spacing-medium) auto;	
	padding: 0 2.2rem;
	font-size: var(--font-size-large);
	font-weight: 600;
	border-radius: 0.3rem;
	background: var(--color-tercary);
}