.shop__item-page {
	width: 100%;	
	flex: 1 0 auto;
	display: none;
	justify-content: center;
	align-items: center;
}

.item__close, 
.item__close__card {
	margin-left: auto;	
}

.shop__item-container {
	width: 80%;
	max-width: 350px;
	height: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: var(--spacing-small);
	
}

.shop-item-content-wrapper {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: var(--spacing-small);
	border-bottom: 1px solid var(--color-primary);
}

.shop__item__right-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.shop__item-price {
	font-size: var(--font-size-large);
}