/* INPUT SECTION  ----------------------------------- */

.shop__merch-list-container {
	display: none;
	flex-direction: column;
	align-items: center;
	flex: 1 0 auto;
	margin-top: var(--spacing-medium);
}

.shop__merch-input-wrapper {
	width: 100%;
	max-width: 500px;
	display: flex;
	flex-direction: column;
	gap: var(--spacing-small);
	padding: 0 var(--spacing-small);;

}

.shop__merch-heading {
	width: 100%;
	font-size: var(--font-size-xlarge);
	font-weight: 600;
	color: var(--color-tercary);	
	letter-spacing: 0.09rem;
	margin-bottom: var(--spacing-small);
	text-align: center;
}

.shop__merch-search-input, 
.shop__merch-list-filter-button {
	width: 100%;
	height: 100%;
	border: 1px solid var(--color-primary);
}

.shop__merch-list__filter-drawer {
	width: 100%;	
	display: none;  				/* JS toggles Display */
	flex-direction: column;
	height: calc((100% - 13.5rem)- 3.75rem); 
	padding: var(--spacing-small);
	position: absolute;	
	top: 13.5rem; 					/* Mobile filter page just below search input */
	left: 0;
	background: var(--color-background);
} 

.shop__merch-list-filter-options {
	width: 100%;
	display: flex;
	flex-direction: column;			
	gap: 0.3rem;
}

.shop__merch-list-search-field,
.shop__merch-list-filter-button {
	height: 2.5rem;
	display: flex;
	gap: var(--spacing-small);
	align-items: center;
}

.shop__merch-list-search-field {
	margin-bottom: var(--spacing-small);
}


.shop__merch-list-filter-container {
	display: flex;	
	align-items: center;
	gap: var(--spacing-small);
}

.shop__merch-list-filter-button {
	align-items: center;
	justify-content: center;
	font-size: var(--font-size-large);
	letter-spacing: 0.16rem;
}

.shop__merch-list-sort-container {
	display: flex;
	justify-content: space-between;
	margin-bottom: var(--spacing-large);
}


/* LIST SECTION ----------------------------------- */

.shop__merch-list__items {
	width: 100%;
	display: flex;
	flex-direction: column;
	font-size: var(--font-size-small);
	padding: 0 var(--spacing-small);
}

.shop__merch-list__items__card {
	width: 100%;	
	display: flex;	
	border-bottom: 1px solid var(--color-primary);
	padding: var(--spacing-small) 0;
	margin-bottom: var(--spacing-large);
}

.shop__merch-list__items__card img {
	width: 25%;
}

.shop__merch-list__items__card-content-wrapper {
	width: 100%;
	height: 7rem;
	display: flex;
	justify-content: space-between;
	gap: 1rem;
}

.shop__merch-list__items__card__left-container, 
.shop__merch-list__items__card__right-container {	
	display: flex;
}

.shop__merch-list__items__card__right-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: end;
	flex-shrink: 0;
	
}

.shop__merch-list__items__card__left-container__content {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	gap: 0.3rem;
	padding-left: var(--spacing-small);	
}

.shop__merch-list__item-price {
	font-size: var(--font-size-base);
}

.add-to-cart-button {
	display: flex;
	align-items: center;
	height: 2.5rem;
	padding: var(--spacing-small) var(--spacing-medium);
	border-radius: 5px;
	background: var(--color-tercary);
}

@media screen and (min-width: 481px) {
	
	.shop__merch-list-container {
		flex-direction: row;
		align-items: flex-start;
		padding: var(--spacing-large) var(--spacing-medium);
	}		

	/* Input section */
	.shop__merch-input-wrapper {
		border-right: 1px solid var(--color-tercary);
		flex-basis: 30%;
	}

	.shop__merch-list-filter-button {
		display: none;
	}

	.shop__merch-list__filter-drawer {
		position: static;
		display: flex;
		padding: 0;
	}	

	.item__close {
		display: none;
	}

	.shop__merch-list-sort-container {		
		flex-direction: column;
	}

	.shop__merch-list__filter-clear-button {
		display: none;
	}

	/* Input section */
	.shop__merch-heading  {
		text-align: start;
	}

	/* Items list */
	.shop__merch-list__items {
		margin-left: var(--spacing-large);
		flex-flow: row wrap;
		gap: var(--spacing-large);
	}

	/* Item Cards */

	.shop__merch-list__items__card {
		max-width: 15rem;
		flex-direction: column;
		margin-bottom: 0;
		padding-top: 0;
	}

	.shop__merch-list__items__card img {
		width: 100%;
	}

	.shop__merch-list__items__card__left-container__content {
		padding: 0;
	}

	.shop__merch-list__items__card-content-wrapper {
		padding-top: var(--spacing-small);
	}	


}