
:root {
	/*  COLORS */
	--color-background: #FFFFFF; 
	--color-foreground: #363636;
	--color-primary: #242F40;
	--color-secondary: #E5E5E5;
	--color-tercary: #CCA43B;

	/* FONT-SIZE */
	--font-size-xsmall: 0.6rem ;
	--font-size-small: 0.8rem ;
	--font-size-base: 16px;
	--font-size-large: 1.25rem;
	--font-size-xlarge: 1.5rem;

	/* SPACING */
	--spacing-xsmall: ;
	--spacing-small: ;
	--spacing-medium: ;
	--spacing-large: ;
	--spacing-x-large: ;

	/* LEADING */
	--leading-small: 0.8rem;	
	--leading-large: 1.5rem; 
} 